<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">


  

  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>

	<!-- 
		为项目配置错误页面
		当出现匹配错误代码的请求时,直接打开定义好的错误页面
	 -->
	<!-- <error-page>
		<error-code>404</error-code>
		<location>/e404.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/e500.jsp</location>
	</error-page> -->
</web-app>